<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.asksven.systemsettings"
      android:versionCode="0100"
      android:versionName="0.10.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActPreferences" android:label="Preferences"></activity>
		<activity android:name=".ActCommandDetails" android:label="Commands"></activity>
		<activity android:name=".ActAbout" android:label="About"></activity>
		<receiver android:name=".IntentHandler">
			<intent-filter>
                <action android:name="com.asksven.systemsettings.action.EXECUTE_COMMAND" />
                <data android:scheme="content" />
            </intent-filter>            
		</receiver>
    </application>
    <uses-sdk android:minSdkVersion="6" />

</manifest> 