<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.asksven.commandcenter"
      android:versionCode="6"
      android:versionName="0.9.0.0"
      android:installLocation="internalOnly">
    <!-- internalOnly is required by the Locale plugin architecture -->	  
    
    <!--  required for writing dump files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- admob -->
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<!-- admob & retrieve definitions -->
    <uses-permission android:name="android.permission.INTERNET"/>
  	
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>
    
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		
        <!--
        <activity android:name="BasicActivity" 
                  android:label="@string/app_name">
-->             
        
        <activity android:name="com.asksven.commandcenter.FragmentTabsPager" 
                  android:label="@string/app_name"
                  android:theme="@style/Theme.asksven">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                
        <activity 
            android:name=".PreferencesActivity"
            android:label="Preferences"
            android:theme="@style/Theme.asksven"/>
<!-- 
   		<activity android:name=".CommandDetailsActivity" android:label="Commands"></activity>
		<activity android:name=".BasicActivity" android:label="Commands"></activity>
		<activity android:name=".MainActivity" android:label="Old Commands"></activity>
 -->		
		<activity android:name=".BasicDetailsActivity" android:label="Details"/>
		<activity android:name=".AboutActivity" android:label="About"/>
		<activity android:name=".ReadmeActivity" android:label="Release Notes"/>
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
		<activity
            android:name="com.asksven.commandcenter.localeplugin.ui.EditActivity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.Locale.Dark"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="com.asksven.commandcenter.localeplugin.receiver.FireReceiver"
            android:exported="true"
            android:process=":background" >

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
		
		
<!-- 
		<receiver android:name=".IntentHandler">
			<intent-filter>
                <action android:name="com.asksven.commandcenter.action.EXECUTE_COMMAND" />
                <data android:scheme="content" />
            </intent-filter>                     
		</receiver>
 -->
    </application>
    

</manifest> 